<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <div class="main">

    <div class="main--container">
      <h1> Sign up to UKC Surf</h1>
      <div class="email-form">
        <form action="/" method="POST">
          <input type="email" placeholder="username@kent.ac.uk" id="email" name="email" class="email-field">
          <input type="submit" value="Submit" class="btn">
        </form>
      </div>
    </div>

  </div>


</body>

</html>